:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

#barn-outside {
  border: none;
}

body {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

h2.love-story, h3.love-story, h4.love-story, h5.love-story {
/*   font-family: 'Zilla Slab', serif; 
  font-family: 'Shadows Into Light', cursive; */
  font-family: 'Indie Flower', cursive;
}

a.navbar-brand,
a#logo {
  font-family: 'Sacramento', cursive;
  font-size: 2.5em;
  color: rgba(0, 0, 0, 0.6)
}

nav.navbar.fixed-top {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.nav-item {
  text-transform: uppercase;
}

a.nav-item.nav-link.active {
  border-bottom: 2px solid #F4BBCF;
  padding: 2px 0;
  margin: 6px 8px;
}

.main-header-2 {
  background: rgba(0, 0, 0, 0.3),
               url('../img/img_bg_0.jpg') no-repeat top;
  background-size: cover;
  vertical-align: bottom;
  align-content: flex-start;
}

.sub-header {
  background: linear-gradient(
              rgba(255,255,255, .65),
              rgba(255,255,255, .65)),
              url('../img/img_bg_1.jpg') no-repeat;
  background-position-y: 20%;
  background-position-x: 44%;
  background-size: cover;
  vertical-align: bottom;
  align-content: flex-start;
  height: 400px;
}
.sub-header-1 {
  background-image: url('../img/NMP-64.jpg');
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 50%;
  background-size: cover;
  position: relative;
}

.rounded-circle {
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.navbar-toggler {
  border: none !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.couple-photo {
  height: 150px;
  width: 150px;
}

h3.getting-married, div.getting-married {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: 1.35rem;
  color: rgb(100, 100, 100);
}

.overlay {
  mix-blend-mode: overlay;
  color: black;
}

.white-outer-border {
  background: white;
  border-color: white;
  border-width: 10px;
  padding: 30px;
}

.inset-border {
  border-color: rgba(128, 128, 128, 0.35);
  border-style: solid none;
  border-width: 1px;
  background-color: white;
}

.couple-name {
/*  font-family: 'Fredericka the Great', cursive; */
  font-family: 'Amatic SC', cursive;
  color: #4C4C4C;
  text-shadow:  0 0 10px white,
                0 5px 10px white,
                5px 0 10px white,
                0 -5px 10px white,
                -5px 0 10px white;
}

.groom {
  align-items: right;
  margin: 0 -10px 0 20px;
}

.bride {
  align-items: left;
  margin: 0 20px 0 -10px;
}

.heart {
  margin: 0;
  left: 0;
  right: 0;
  z-index: 99;
  animation: pulse 1s ease infinite;
}

.heart i {
  font-size: 32px;
  background: #fff;
  padding: 20px;
  margin: 0 -27px;
  color: #F4BBCF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
}


small.text-muted {
  line-height: 1;
  background-color: rgba(255, 255, 255, .7);
  padding: 6px 10px;
  color: #F4BBCF!important;
}

#card {
  border-radius: 0;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  width: 60%;
  border: none;
}

.card-body p, .card-body strong {
  font-size: .9em;
  margin: 0;
  padding: 0 5px;
}

.no-bullet {
  list-style-type: none;
}

.row > strong, .row > p {
  padding-left: 0;
}

.meet-wedding-party h5 {
  padding: 0 20px;
}

.meet-wedding-party img {
  height: 200px;
  width: 200px;
}

.section-gray {
  background: rgba(0, 0, 0, 0.04);
}

.nav-fix {
  margin-top: 86px;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.featurette-divider {
  margin: 5rem 0;
}

div.fh5co-heading > h2.gray-text {
  color: rgba(130, 130, 130, 1);
}



@media screen and (max-width: 991px) {
  .meet-wedding-party img {
    height: 150px;
    width: 150px;
  }
  .card a.btn.btn-primary {
    font-size: 14px;
    padding: 4px 10px;
  }
  .sub-header-1 {
    background-image: url('../img/NMP-64.jpg');
    height: 650px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 50%;
    background-size: cover;
    position: relative;
  }

  .sub-header h2, .sub-header h5 {
    text-shadow:  0 0 10px white,
                  0 5px 10px white,
                  5px 0 10px white,
                  0 -5px 10px white,
                  -5px 0 10px white;
  }
}
@media screen and (max-width: 768px) {
  #his-her-labels {
    visibility: hidden;
    display: none;
  }
  .heart {
    display: none;
  }
  .sub-header {
    height: 450px;
    background: linear-gradient(
      rgba(255,255,255, .65),
      rgba(255,255,255, .95)),
      url('../img/img_bg_1.jpg') no-repeat;
    background-position-y: 0%;
    background-position-x: 50%;
  }
  
}

@media screen and (max-width: 720px) {
  .sub-header-1 {
    background-image: url('../img/NMP-64.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 50%;
    background-size: cover;
    position: relative;
  }
}
@media screen and (max-width: 480px) {
  .meet-wedding-party img {
    height: 120px;
    width: 120px;
  }
  .card-body > h3 {
    font-size: 1.25em;
  }
  h3.timeline-title {
    font-size: 1.17em;
    margin-bottom: 8px;
  }
  span.date {
    font-size: 11px;
    margin-bottom: 4px;
  }
  div.timeline-body p {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .sub-header-1 {
    background-image: url('../img/NMP-64.jpg');
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 50%;
    background-size: cover;
    position: relative;
  }
  #card {
    width: 80%;
  }

}
@media screen and (max-width: 410px) {
  .card ul.list-group li.list-group-item strong.lead {
    font-size: 1rem;
  }
  .container ul.list-group li.list-group-item strong.lead {
    font-size: 1rem;
  }
}
@media screen and (max-width: 348px) {
  .nav-fix {
    margin-top: 138px;
  }
  .index-splash {
    height: 800px;
  }
  .sub-header-1 {
    background-image: url('../img/NMP-64.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 50%;
    background-size: cover;
    position: relative;
  }
}

@media screen and (max-width: 320px) {
  #card {
    width: 90%;
  }
}
